@using MyWalletz
@using MyWalletz.Helpers
@using MyWalletz.Models
<script type="text/ng-template" id="account-create.html">
  <div id="account-create-page">
    <h2 class="page-header">New account</h2>
    <form name="form" ng-submit="submit()" novalidate>
      @Html.ClientView("ModelErrors")
      <field-group for="title">
        <label for="new-account-title">Title</label>
        <div class="controls">
          <input
            type="text"
            id="new-account-title"
            name="title"
            ng-model="account.title"
            ng-required="true"
            autofocus />
        </div>
        <validation-message
          for="title"
          required="Title is required." />
      </field-group>
      <div class="control-group">
        <label for="new-account-notes">Notes</label>
        <div class="controls">
          <textarea
            id="new-account-notes"
            name="notes"
            ng-model="account.notes"></textarea>
        </div>
      </div>
      <field-group for="type">
        <label for="new-account-type">Type</label>
        <div class="controls">
          <select
            id="new-account-type"
            name="type"
            ng-model="account.type"
            ng-required="true">
            <option value="">[select]</option>
            @foreach (var item in this.SelectListItems<AccountType>()) {
              <option value="@item.Value">@item.Text</option>
            }
          </select>
        </div>
        <validation-message
          for="type"
          required="Type is required." />
      </field-group>
      <field-group for="balance">
        <label for="new-account-balance">Balance</label>
        <div class="controls">
          <input 
            type="number"
            id="new-account-balance"
            name="balance"
            class="input-small money"
            value="0.00"
            min="0"
            step="any"
            ng-model="account.balance"
            ng-required="true"/>
        </div>
        <validation-message
          for="balance"
          required="Balance is required."
          min="Balance cannot be negative." />
      </field-group>
      <field-group for="currency">
        <label for="new-account-currency">Currency</label>
        <div class="controls">
          <select
            id="new-account-currency"
            name="currency"
            ng-model="account.currency"
            ng-required="true">
            <option value="">[select]</option>
            @foreach (var item in new CurrencyList().AsSelectListItems()) {
              <option value="@item.Value">@item.Text</option>
            }
          </select>
        </div>
        <validation-message
          for="currency"
          required="Currency is required." />
      </field-group>
      <div class="form-actions">
        <submit-button>Save</submit-button>
        or <a class="btn" href="@Url.ClientUrl("/accounts")">Cancel</a>
      </div>
    </form>
  </div>
</script>