@using System.Web.Optimization
@using MyWalletz.Helpers
@model MyWalletz.Models.Home
@section Navigation {
  @Html.Partial("Navigation")
}
<div class="container-fluid">
  <div class="row-fluid">
    <div id="container" class="span12" role="main">
      <div class="page" ng-view></div>
      @{ Html.IncludeClientViews(); }
    </div>
  </div>
</div>
@section Scripts {
  <script>
    options = {
      userSignedIn: @Html.Raw(@Request.IsAuthenticated.ToString().ToLowerInvariant()),
      categories: @Html.Raw(Model.Accounts.ToJson()),
      accounts: @Html.Raw(Model.Accounts.ToJson())
    };
  </script>
  @Scripts.Render("~/bundles/angular", "~/bundles/application")
}